/*@font-face {
  font-family: 'font1';
  src: url('fonts/Neuropol.otf') format('opentype'); /* O .otf si es OpenType */
/*font-weight: normal;
  font-style: normal;
}
*/

html,
body {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  font-size: calc(10px + 2vw);
  font-family: 'Orbitron', monospace, sans-serif;
  color: rgba(255, 48, 48, 0.852);
  text-align: center;
  position: relative; /* Para que los elementos absolutos se posicionen respecto a esto */
}

.typed-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}

.typed-container.show {
  opacity: 1;
}

.cursor {
  display: inline-block;
  font-size: 1em;
  color: rgb(255, 48, 48);
  animation: blink 0.7s infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
